  console.log(`🤖 [{{SLUG}}] eseguo {{TASK_LABEL}} per il job ${job.jobId}...`);
  // TODO: sostituisci con la logica reale del robot.
  return `{{DISPLAY_NAME}} completato per: ${job.{{INPUT_FIELD}}}`;
