openapi: "3.0.3"
info:
  title: MyZubster Gateway API
  description: |
    API completa del MyZubster Gateway per bounty, stake, escrow, rewards e robot.
    Documentazione generata automaticamente per il bounty B7.
  version: "1.0.0"
  contact:
    name: MyZubster
    url: https://github.com/MyZubster-Ecosystem/MyZubsterGateway
servers:
  - url: https://api.myzubster.com/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Local development
tags:
  - name: Health
    description: Health check endpoint
  - name: Bounty
    description: Gestione bounty
  - name: Stake
    description: Sistema di staking
  - name: Escrow
    description: Sistema escrow
  - name: Rewards
    description: Sistema ricompense
  - name: Robot
    description: Gestione robot
  - name: Auth
    description: Autenticazione
  - name: Users
    description: Gestione utenti
  - name: Wallet
    description: Wallet XMR e Tari
  - name: Payments
    description: Pagamenti
  - name: Payout
    description: Payout e distribuzione
paths:
  /api/health:
    get:
      tags: [Health]
      summary: Health check del gateway
      responses:
        '200':
          description: Gateway attivo
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  uptime:
                    type: number
  /api/bounty:
    get:
      tags: [Bounty]
      summary: Lista tutti i bounty
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [open, claimed, completed, paid]
      responses:
        '200':
          description: Lista bounty
          content:
            application/json:
              schema:
                type: object
                properties:
                  bounties:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bounty'
    post:
      tags: [Bounty]
      summary: Crea un nuovo bounty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, reward]
              properties:
                title:
                  type: string
                description:
                  type: string
                reward:
                  type: number
                currency:
                  type: string
                  enum: [MYZ, XTM]
      responses:
        '201':
          description: Bounty creato
  /api/bounty/{id}:
    get:
      tags: [Bounty]
      summary: Dettaglio bounty
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Dettagli bounty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bounty'
  /api/bounty/{id}/claim:
    post:
      tags: [Bounty]
      summary: Claim un bounty
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet:
                  type: string
      responses:
        '200':
          description: Bounty reclamato
  /api/stake:
    get:
      tags: [Stake]
      summary: Lista stake attivi
      responses:
        '200':
          description: Lista stake
    post:
      tags: [Stake]
      summary: Crea uno stake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                currency:
                  type: string
                  enum: [MYZ, XTM]
                duration_days:
                  type: integer
      responses:
        '201':
          description: Stake creato
  /api/stake/{id}:
    get:
      tags: [Stake]
      summary: Dettaglio stake
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Dettagli stake
  /api/stake/{id}/unstake:
    post:
      tags: [Stake]
      summary: Rimuovi stake
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Stake rimosso
  /api/escrow:
    get:
      tags: [Escrow]
      summary: Lista escrow
      responses:
        '200':
          description: Lista escrow
    post:
      tags: [Escrow]
      summary: Crea escrow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                currency:
                  type: string
                bounty_id:
                  type: integer
                contributor_address:
                  type: string
      responses:
        '201':
          description: Escrow creato
  /api/escrow/{id}:
    get:
      tags: [Escrow]
      summary: Dettaglio escrow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Dettagli escrow
  /api/escrow/{id}/release:
    post:
      tags: [Escrow]
      summary: Rilascia fondi escrow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fondi rilasciati
  /api/escrow/{id}/dispute:
    post:
      tags: [Escrow]
      summary: Apri disputa escrow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Disputa aperta
  /api/escrow2of3:
    get:
      tags: [Escrow]
      summary: Lista escrow 2-of-3
      responses:
        '200':
          description: Lista escrow 2-of-3
    post:
      tags: [Escrow]
      summary: Crea escrow 2-of-3 multisig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                party_a:
                  type: string
                party_b:
                  type: string
                arbiter:
                  type: string
      responses:
        '201':
          description: Escrow 2-of-3 creato
  /api/rewards:
    get:
      tags: [Rewards]
      summary: Lista ricompense
      responses:
        '200':
          description: Lista ricompense
    post:
      tags: [Rewards]
      summary: Crea ricompensa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                recipient:
                  type: string
                reason:
                  type: string
      responses:
        '201':
          description: Ricompensa creata
  /api/rewards/{id}:
    get:
      tags: [Rewards]
      summary: Dettaglio ricompensa
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Dettagli ricompensa
  /api/robot:
    get:
      tags: [Robot]
      summary: Lista robot
      responses:
        '200':
          description: Lista robot
    post:
      tags: [Robot]
      summary: Registra robot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                capabilities:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Robot registrato
  /api/robot/{id}:
    get:
      tags: [Robot]
      summary: Dettaglio robot
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dettagli robot
  /api/robot/analytics:
    get:
      tags: [Robot]
      summary: Analytics robot
      responses:
        '200':
          description: Dati analytics
  /api/robot/schedule:
    get:
      tags: [Robot]
      summary: Schedule robot
      responses:
        '200':
          description: Schedule robot
  /api/auth/login:
    post:
      tags: [Auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Token JWT
  /api/auth/register:
    post:
      tags: [Auth]
      summary: Registrazione
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Utente registrato
  /api/users:
    get:
      tags: [Users]
      summary: Lista utenti
      responses:
        '200':
          description: Lista utenti
  /api/users/{id}:
    get:
      tags: [Users]
      summary: Profilo utente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Profilo utente
  /api/wallet:
    get:
      tags: [Wallet]
      summary: Info wallet
      responses:
        '200':
          description: Saldo e info wallet
  /api/wallet/xmr:
    get:
      tags: [Wallet]
      summary: Wallet XMR
      responses:
        '200':
          description: Indirizzo e saldo XMR
  /api/wallet/tari:
    get:
      tags: [Wallet]
      summary: Wallet Tari
      responses:
        '200':
          description: Indirizzo e saldo Tari (XTM)
  /api/payments:
    get:
      tags: [Payments]
      summary: Lista pagamenti
      responses:
        '200':
          description: Lista pagamenti
    post:
      tags: [Payments]
      summary: Crea pagamento
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                currency:
                  type: string
                  enum: [MYZ, XTM, XMR, EUR, USD]
                recipient:
                  type: string
      responses:
        '201':
          description: Pagamento creato
  /api/payout:
    get:
      tags: [Payout]
      summary: Lista payout
      responses:
        '200':
          description: Lista payout
    post:
      tags: [Payout]
      summary: Richiedi payout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                wallet:
                  type: string
      responses:
        '201':
          description: Payout richiesto
  /api/payout/balance:
    get:
      tags: [Payout]
      summary: Saldo disponibile per payout
      responses:
        '200':
          description: Saldo
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                  currency:
                    type: string
  /api/governance:
    get:
      tags: [Governance]
      summary: Proposte governance
      responses:
        '200':
          description: Lista proposte
  /api/governance/vote:
    post:
      tags: [Governance]
      summary: Vota proposta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                proposal_id:
                  type: integer
                vote:
                  type: string
                  enum: [yes, no, abstain]
      responses:
        '200':
          description: Voto registrato
  /api/disputes:
    get:
      tags: [Disputes]
      summary: Lista dispute
      responses:
        '200':
          description: Lista dispute
    post:
      tags: [Disputes]
      summary: Apri disputa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                escrow_id:
                  type: integer
                reason:
                  type: string
      responses:
        '201':
          description: Disputa creata
  /api/offers:
    get:
      tags: [Offers]
      summary: Lista offerte
      responses:
        '200':
          description: Lista offerte
  /api/marketplace:
    get:
      tags: [Marketplace]
      summary: Lista prodotti marketplace
      responses:
        '200':
          description: Lista prodotti
  /api/transactions:
    get:
      tags: [Transactions]
      summary: Storico transazioni
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Lista transazioni
components:
  schemas:
    Bounty:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        reward:
          type: number
        currency:
          type: string
          enum: [MYZ, XTM]
        status:
          type: string
          enum: [open, claimed, completed, paid]
        assignee:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []