openapi: 3.0.0
info:
  title: MyZubster Gateway API
  description: API Gateway per MyZubster - MCP Server
  version: 1.0.0
servers:
  - url: https://api.myzubster.com
paths:
  /api/health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
  /api/robot/assign:
    get:
      summary: Assegna robot
      responses:
        '200':
          description: OK
  /api/tokens/balance/{userId}:
    get:
      summary: Saldo token
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/sensors/{gardenId}:
    get:
      summary: Leggi sensori
      parameters:
        - name: gardenId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/payments/fiat/create:
    post:
      summary: Crea pagamento fiat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                currency:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: OK
  /api/crypto/rates:
    get:
      summary: Tassi di cambio
      responses:
        '200':
          description: OK
  /api/arm/status:
    get:
      summary: Stato braccio
      responses:
        '200':
          description: OK
  /api/mobile/config:
    get:
      summary: Configurazione app
      responses:
        '200':
          description: OK
